<div class = "container-fluid text-center text-danger">
<section class = "container">
<h3 class = "h3"><b>ADD CATEGORIES</b></h3>
</section><hr>
</div>
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-6">
<h5 class = "h5">ADD NEW PARENT CATEGORY</h5>
	<form method ="POST" action ="/newcat">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="category">Category</label>
				<input type="text" class="form-control" id="newcat" name ="category" placeholder="Enter new category here" required />
			</div><br>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button><br><br>
			</div>
		</div>
	</form>

</div>
<div></div>
<div class = "col-md-6">
<h5 class = "h5">ADD NEW CHILD CATEGORY</h5>
<form method ="POST" action ="/addcategory">
		<div class="container-fluid">
		<div class = "row">
		<div class = "col">
		<div class="form-group">
		<label for="category">Parent Category</label>
		</div>
		<div class="form-group">
				<select class = "form-control" name = "parent">
					<option>gfgyjgkjhkhkjhjlhkj<option>
					{{#if parent}}
						<option>{{parent}}</option>
					{{/if}}
				</select>
		</div>
		</div>
		<div class = "col">
		
		<div class="form-group">
			
				<label for="category">Child Category</label>
				</div>
				<div class=" form-group">
				<input type="text" class="form-control" id="newcat" name ="category" placeholder="Enter category here" required />
			</div>
			</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button><br><br>
			</div>
		</div>
		</div>
		
		</div>
	
		
		</form>
		<!-- end of first column -->
	</div>

<!-- end of first row-->
</div>
	
	
	<h3>ADD NEW PRODUCT</h3>
	<form method ="POST" action ="/upload">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="category">Category</label>
				<select name = "parent">
					<option></option>
					{{#if parent}}
						<option>{{parent}}</option>
					{{/if}}
				</select>
			</div>
			<div class="form-group">
				<label for="product">Product</label>
				<input type="text" class="form-control" id="product" name ="product" placeholder="Enter product here" required />
			</div>
			<div class="form-group">
				<label for="img">Price</label>
				<input type="text" class="form-control" id="Picture" name ="price" value="Contact for price" required />
			</div>
			<div class="form-group">
				<label for="img">Product Image</label>
				<input type="file" class="form-control" id="Picture" name ="img" placeholder="Click here" required />
			</div>
			<div class="form-group">
				<label for="img">Product Description</label>
				<textarea class="form-control" id="description" name ="description" placeholder="Enter description here"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button><br><br>
			</div>
		</div><hr>
		</form>
		<br>
		<br>
		<h3>UPDATE PRODUCT STATUS</h3>
	<form method ="POST" action ="/newcat">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="product">Product_id</label>
				<input type="number" class="form-control" id="product_id" name ="product_id" placeholder="Enter product_id" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button><br><br>
			</div>
		</div><hr>
	</form>
	
	<br>
	<br>
	<h3>SEARCH PRODUCT</h3>
	<form method ="POST" action ="/searchproduct">
		<div class="container-fluid"> 	
			<div class="form-group">
				<label for="product">Product_id</label>
				<input type="number" class="form-control" id="product_id" name ="product_id" placeholder="Enter product_id" required />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button><br><br>
			</div>
		</div><hr>	
	
	</form>
